html {
    height: 100%;
}
body {
    background-image: url('./background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

}
#wrapper {
    width: 100%;
}
#contentHeader {
    padding: 20px 40px;
}
#content {
    width: 100%;
}
#contentBody {
    padding: 18%;
    width: 100%;
}
#ifr {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    display: none;
}
h1 {
    font-size: 150%;
    color: #fff;
}
h2 {
    font-size: 130%;
    font-weight: normal;
    border-bottom: 1px solid #003488;
    margin-bottom: 1em;
}
h3 {
    font-size: 120%;
    margin-top: 2em;
    padding-left: 5px;
    border-left: 10px solid #9EC9E1;
    margin-bottom: 1em;
}
.about {
    font-size: large;
    color: #fff;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 80px;
}
ul.default {
    list-style: disc outside;
    margin-bottom: 1em;
}
ul.default li {
    margin-left: 1.5em;
    padding-left: 0;
}
.btn {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
   	
}
.btn-main {
    width: 325px;
    background-color: #c5a50f;
    color: black;
    border-radius: 8px;
}
.btn-main:hover {
    width: 325px;
    background-color: #f9df69;
    color: black;
    border-radius: 8px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* Elegant Aero */
.elegant-aero {
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    background: #c5a50f;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.elegant-aero h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.elegant-aero h1>span {
    display: block;
    font-size: 11px;
}

.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #000;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #000;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.elegant-aero textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.elegant-aero select {
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    background: #fbfbfb url('down-arrow.png') no-repeat right;
   appearance:none;
    -webkit-appearance:none; 
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
}
.elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    
}
.elegant-aero .button:hover{
    background: #3EB1DD;
}
